<main class="p-5">
    <div class="card p-5">
    <p>
        Hello!
    </p>
    <span class="pt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, rem!</span>
    </div>
</main>